.navbar{
     padding: 2rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #000;
     border-bottom: 1px solid #363636;
}
.searchform{
     position: relative;
     width: 20%;
}
.searchform svg{
     position: absolute;
     top: 10px;
     left: 10px;
}